.opensauced-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #84d6a9;
    color: white;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
}

.opensauced-btn:hover {
    text-decoration: none;
}